.main-page{
  padding: 20px;
  min-width: 400px;
  flex: 3;
}

.title-page{
  font-size: 6rem;
  text-align: center;
  font-weight: 800;
}

.sports-heading{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 50px;
}

.img1{
  height: 500px;
  width: 100%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  transition: all 0.2s;
}

.img1:hover{
  filter: brightness(50%);
}

.nonoc-info{
  margin-top: 100px;
}

.nonoc-info,
.poctoy-info{
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.nonoc-pic,
.poctoy-pic{
  flex:1;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  line-height: 0;
  transition: all 0.2s;
}

.nonoc-pic:hover,
.poctoy-pic:hover{
  filter: brightness(50%);
}

.nonoc-players,
.poctoy-players{
  flex:1
}


.nonoc-img,
.poctoy-img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.p1{
  text-indent: 50px;
}

.sports-headline2{
  margin-top: 100px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 50px;
}