.trivia-page{
  padding: 20px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 3;
}

.trivia-title{
  font-size: 6rem;
  text-align: center;
  font-weight: 800;
}

.trivia-heading{
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 50px;
}

.trivia-phrase{
  margin-top: 80px;
  font-weight: 600;
  font-size: 1.5rem;
  text-align: center;
}

.trivia-p1{
  margin-top: 20px;
  text-indent: 50px;
}

.trivia-pic{
  height: 500px;
  width: 100%;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  transition: all 0.2s;
}

.trivia-pic:hover{
  filter: brightness(50%);
}

.trivia-img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
